{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %} <!--gravatar (templatetags folder)-->

<style>
.footer_holder {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
</style>


<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'project_view' as project_view %}
      <li {% if request.get_full_path == project_view %}class="active"{% endif %}>
          <a href="{% url 'project_view:main' %}">ProjectView</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'project_view:get_in_touch' %}">get in touch</a></li>
      {% if user.is_authenticated %}
      <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.username }}</a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}?next={% url 'home:main' %}">Logout</a></li>
          </ul>
      </li>
      {% else %}
      <li>
      <a href="{% url 'login' %}?next={% url 'home:main' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="footer_holder">
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    get in touch: stackoosmith@gmail.com
  </div>
  <!-- Copyright -->
</footer>
</div>

{% endblock %}