.login_area{
    padding-top: 20px;
    /*padding-left: 10%;*/
    /*padding-right: 50%;*/
    padding-bottom: 20px;
}

.upper_form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.message_field {
    max-height: 100px;
    overflow: auto;
}

.button {
    text-align: right;
}

.upper {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 25% 70%;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

.thank_you {
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.table_of_contents {
    margin-top: 50px;
}

.text {
    margin-top: 20px;
}



.gridbox{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    /*text-align: center;*/
    
}
.gridbox:before{  /*before -> before content is added,
    so that the padding doesn't include the content (won't be a ratio of 1:1)*/
    content: "";
    /*display: block;*/
    float:left; /*this way the width will be known?*/
    padding-top: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.title {

}

.picture {
    
}