#topic {
  display: flex;
  max-height: 150px;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 3px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  background-color: #F8F8F8;
}

.topic_middle {
  width: 100%;
  margin-right: 5px;
}

.topic_right{
  display: flex;
  flex-direction: row;
}

.icon {
  width: 25px;
}

.topic_title {
  font-weight: bold;
}

.topic_title_prot {
  font-weight: bold;
  display: none;
}
/*entries----------------------------*/
.entry_container {
  font-weight: normal;
  max-height: 120px;
  overflow: auto;

}
.entry{
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 1px;
  margin-bottom: 1px;
}
.entry_responsible{
  display: none;
}
.entry_involved{
  display: none;
}
.entry_agreed_with{
  display: none;
}
.entry_deadline{
  display: none;
}
/*/entries-----------------------------*/



/*right*/
.pic_list {
  display: grid;
  width: 320px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  /*direction: rtl; /*changes direction of grid filling*/
  overflow: auto;
}
.pic{
  width: 100px;
  height: 100px;
}

.edit_delete_icons{
  width: 40px;
  padding-left: 5px;
  align-self: flex-start;
  padding-top: 10px;

}

/*container for all topics*/
.topics_container {
  padding: 5px;
  margin-top: 10px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;

}

.fixing_container {
  width: 33%;
  padding: 5px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;
}

.part_properties {
  width: 33%;
  padding: 5px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;
}

.part_container {
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-left: 0;
  background-color:white;
}

