#topic {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 3px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  background-color: white;
}

.topic_middle {
  order: 3;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: orange;
}

.topic_right{
  order: 2;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  
}

.topic_left{
  order: 1;
    display: flex;
    flex-direction: row;
}

.icon {
  width: 25px;
}

.topic_title {
  font-weight: bold;
  display: none;
}

.topic_title_prot {
    font-weight: bold;
  }

.entry_container {
  font-weight: normal;
  overflow: auto;

}
.entry{
  display: flex;
  flex-direction: row;
}

.entry_date{
  width: 120px;
  
}

.entry_solution {
  width: 100%;
  
}
/*right*/
.pic_list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  /*direction: rtl; /*changes direction of grid filling*/
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
}

.pic{
    width: 100%;
    max-height: 200px;
  }

.edit_delete_icons{
  
  width: 40px;
  padding-left: 5px;
  align-self: flex-start;
  padding-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  display:none;
}
/*/right*/

/*container for all topics*/
.topics_container {
  padding: 5px;
  margin-top: 10px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;

}

.fixing_container {
  width: 33%;
  padding: 5px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;
}

.part_properties {
  width: 33%;
  padding: 5px;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 5px;
  background-color:white;
}

.part_container {
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-left: 0;
  background-color:white;
}

