:root {
    --box-width: 28%;
    --box-height: 200px;
}
.target {
    width: var(--box-width);
    height: var(--box-height);
    padding: 5px;
    margin: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
}

#picture_box {
    width: var(--box-width);
    height: var(--box-height);
    padding: 5px;
    margin: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
}
.picture_detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,0.5);
}
.trash-text {
    position: absolute;
    transform: translate(-12px, calc(var(--box-height) * 0.95));
}




/*entry form--------------------------*/
.form-container {
    display: flex;
    justify-content: space-evenly; 
}

.submit{
    padding-top: 1.5em;
}







/*entry list--------------------------*/
#entry_list_container {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}

.entry_list_left {
    /*border-color: yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.entry_list_middle {
    width: 100%;
    /*border-color: lightgray;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.entry_list_right {
    /*border-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}




/*left*/

.entry_list_date_of_entry {
    width: 120px;
    /*border-color: green;*/
    overflow: auto;
    flex-shrink: 1;
}

.entry_list_solution {
    width: 400px;
    /*border-color: violet;*/
    max-height: 100px;
    overflow: auto;
    flex-shrink: 2;
}

/*middle*/

.entry_list_person {
    width: 100%;
    /*border-color: orange;*/
    overflow: auto;
    
}

/*right*/

.entry_list_deadline {
    width: 120px;
    /*border-color: blue;*/
    overflow: auto;
}

.entry_list_edit_delete_icons {
    width: 50px;
    /*border-color: lightseagreen;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
}