{% extends "base_menu_project_view.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">
<div class="left_block">
  
  <h2><a href="{% url 'project_view:main' %}">OEMs /</a></h2>
  <h1>{{ client.name }} Projects:</h1>
  
  <p>
  {% if project_list %}
  <ul class="item_list">
    {% for project in project_list %}
      <div class="items_container">
        <a href="{% url 'project_view:project_detail'  client.id project.id %}">{{ project.name }}</a>
        {% if project.owner == user %}
        <div class="edit_delete">
          <a href="{% url 'project_view:project_update' client.id project.id %}">Edit</a> |
          <a href="{% url 'project_view:project_delete' client.id project.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no projects for this client in the database.</p>
  {% endif %}
  </p>
  <p>
  <a href="{% url 'project_view:project_create' client.id %}">Add a Project</a>
  </p>
</div>
{% endblock %}