{% extends "base_menu_project_view.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">
<div class="left_block">
  <h1>OEMs:</h1>

  <p>
  {% if client_list %}
  <ul class="item_list">
    {% for client in client_list %}
      <div class="items_container">
          <a href="{% url 'project_view:client_detail'  client.id %}">{{ client.name }}</a>
          {% if client.owner == user %}
          <div class="edit_delete">
            <a href="{% url 'project_view:client_update' client.id %}">Edit</a> | 
            <a href="{% url 'project_view:client_delete' client.id %}">Delete</a>
          </div>
          {% endif %}
        </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no clients in the database.</p>
  {% endif %}
  </p>
  <p>
    <a href="{% url 'project_view:client_create' %}">Add an OEM</a>
  </p>
</div>
{% endblock %}