{% extends "base_menu_project_view.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p>
  <a href="{% url 'project_view:fixing_create'  %}" target="_blank" rel="noopener noreferrer">add a fixing element to data base</a>
</p>
<p>
  {% if error == 1 %}
  <p>combination with this element already exists, please edit or delete the existing one</p>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'project_view:part_detail' part.module.id part.id %}'; return false;">
  </form>
</p>
{% endblock %}
