
{% extends "base_menu_project_view.html" %}

{% load humanize %}

{% block content %}

<span style="float: right;">

{% if fixing.owner == user %}
<a href="{% url 'project_view:fixing_update' fixing.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'project_view:fixing_delete' fixing.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ fixing.name }}</h1>
<p>
    <a href="{% url 'project_view:fixing_list' %}">Back to fixing elements</a>
</p>
<h4>used in:</h4>

<p>
{% if fix_list %}
    {% for fix in fix_list %}
        <p>
        <a href="{% url 'project_view:part_detail' fix.part.module.id fix.part.id %}">{{ fix.part.name }}</a>
        in {{ fix.part.module.project.client.name }} {{ fix.part.module.project.name }}
        </p>
        {% endfor%}
{% endif %}
</p>

{% endblock %}