{% extends "base_menu_project_view.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">
<div class="left_block">
  <h1>Fixing elements:</h1>
  <p>
    <a href="{% url 'project_view:main' %}">back to OEMs</a>
  </p>
  <p>
  {% if fixing_list %}
  <ul class="item_list">
    {% for fixing in fixing_list %}
      <div class="items_container">
        <a href="{% url 'project_view:fixing_detail' fixing.id %}">{{ fixing.name }}</a>
          {% if fixing.owner == user %}
          <div class="edit_delete">
          <a href="{% url 'project_view:fixing_update' fixing.id %}">Edit</a> |
          <a href="{% url 'project_view:fixing_delete' fixing.id %}">Delete</a>
          </div>
          {% endif %}
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no fixing elements in the database.</p>
  {% endif %}
  </p>
  <p>
  <a href="{% url 'project_view:fixing_create' %}">Add a fixing element</a>
  </p>
</div>
{% endblock %}