{% extends "base_menu_project_view.html" %}
{% block content %}
{% load static %}
<link id="stylesheet" rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">

<div class="left_block">
  <h4><a href="{% url 'project_view:main' %}">OEMs /</a></h4>
  <h3><a href="{% url 'project_view:client_detail'  client.id %}">{{ client.name }} /</a></h3>
  <h2><a href="{% url 'project_view:project_detail'  client.id project.id %}">{{ project.name }} /</a></h2>
  <h1>{{ module.name }}:</h1>

  <p>
  {% if part_list %}
  <ul class="item_list">
    {% for part in part_list %}
      <div class="items_container">
        <a href="{% url 'project_view:part_detail' module.id part.id %}">{{ part.name }}</a>
        <div id="edit_delete_myparts">
          <div class="edit_delete">
            {% if part.owner == user %}
              <a href="{% url 'project_view:part_update' module.id part.id %}">Edit</a> |
              <a href="{% url 'project_view:part_delete' module.id part.id %}">Delete</a>
            {% endif %}
          </div>
          {% if user.is_authenticated and part.owner == user %}
          <div href="#" id="my_cog{{ part.id }}" title="add to my parts" 
                onclick="myPartPost('{% url 'project_view:mypart' part.id %}', {{ part.id }}); return false;"
                {% if part.id in my_parts_ids %} style="display: none;"
                {% else %}
                  style="display: block;"
                {% endif %}><a href="#"><i class="fa fa-cog" style="color: lightgray; font-size: 20px;"></i></a></div>
          
          <div  id="my_cog_blue{{ part.id }}" title="remove from my parts"
                onclick="myPartPost('{% url 'project_view:unmypart' part.id %}', {{ part.id }}); return false;"
                {% if part.id not in my_parts_ids %} style="display: none;"
                {% else %}
                  style="display: block;"
                {% endif %}><a href="#"><i class="fa fa-cog" style="color: blue; font-size: 20px;"></i></a></div>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no parts for this module.</p>
  {% endif %}
  </p>
  <p>
  <a href="{% url 'project_view:part_create' module.id %}">Add a Part</a>
  </p>

<script>
  function myPartPost(myUrl, part_id) {
    /*prepare data to be sent to server*/
    var formData = new FormData();
    formData.append("inpFile", part_id); //(name of data, data)
    /*prepare data to be sent to server*/
  
    /*send the data using fetch method:*/
    fetch(myUrl, {
        method: "post",
        body: formData
    }).then(function(data){
        console.log(data)
    }).catch(console.log(myUrl, 'error'));
    var grayCog = document.getElementById("my_cog"+part_id);
    if (grayCog.style.display=="none") {
      grayCog.style.display="block";
    }
    else {
      grayCog.style.display="none";
    }
    var blueCog = document.getElementById("my_cog_blue"+part_id);
    if (blueCog.style.display=="none") {
      blueCog.style.display="block";
    }
    else {
      blueCog.style.display="none"
    }
  }
  </script>

{% endblock %}