{% extends "base_menu_project_view.html" %}
{% block content %}
{% load static %}
<link id="stylesheet" rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">


<h1><a href="{% url 'project_view:client_detail'  client.id %}">{{ client.name }}</a>
   / <a href="{% url 'project_view:project_detail'  client.id project.id %}">{{ project.name }}</a> / {{ module.name }}:</h1>

<p>
{% if part_list %}
<ul style="list-style: none;">
  {% for part in part_list %}
    <li>
        <div class="list">
          <div class="name">
            <a href="{% url 'project_view:part_detail' module.id part.id %}">{{ part.name }}</a>
          </div>
          <div class="edit_delete">
            {% if client.owner == user %}
              (<a href="{% url 'project_view:part_update' module.id part.id %}">Edit</a> |
              <a href="{% url 'project_view:part_delete' module.id part.id %}">Delete</a>)
            {% endif %}
          </div>





          <div id="my_cog{{ part.id }}">
            <a href="#"><i class="fa fa-cog" title="add to my parts"
              onclick="myPartPost('{% url 'project_view:mypart' part.id %}', {{ part.id }}); return false;"
              {% if part.id in my_parts %} style="display: none; color: lightgray; font-size: 20px;"
              {% else %} style="color: lightgray; font-size: 20px;"
              {% endif %}></i>
            </a>
          </div>
          <div id="my_cog_blue{{ part.id }}">
            <a href="#"><i class="fa fa-cog" title="remove from my parts"
              onclick="myPartPost('{% url 'project_view:unmypart' part.id %}', {{ part.id }}); return false;"
              {% if part.id not in my_parts %} style="display: none; color: blue; font-size: 20px;"
              {% else %} style="color: blue; font-size: 20px;"
              {% endif %}></i>
            </a>
          </div>
        </div>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no parts for this module.</p>
{% endif %}
</p>
<p>
<a href="{% url 'project_view:part_create' module.id %}">Add a Part</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'project_view:main' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'project_view:main' %}">Login</a>
{% endif %}
</p>

<script>
function myPartPost(myUrl, part_id) {
  /*prepare data to be sent to server*/
  var formData = new FormData();
  formData.append("inpFile", part_id); //(name of data, data)
  /*prepare data to be sent to server*/

  /*send the data using fetch method:*/
  fetch(myUrl, {
      method: "post",
      body: formData
  }).then(function(data){
      console.log(data)
  }).catch(console.log(myUrl, 'error'));
}
</script>

{% endblock %}