{% extends "base_menu_project_view.html" %}
{% block content %}
{% load static %}
<link id="stylesheet" rel="stylesheet" type="text/css" href="{% static 'project_view/structure.css' %}">


<h1><a href="{% url 'project_view:client_detail'  client.id %}">{{ client.name }}</a>
   / <a href="{% url 'project_view:project_detail'  client.id project.id %}">{{ project.name }}</a> / {{ module.name }}:</h1>

<p>
{% if part_list %}
<ul style="list-style: none;">
  {% for part in part_list %}
    <li>
        <div class="list">
          <div class="name">
            <a href="{% url 'project_view:part_detail' module.id part.id %}">{{ part.name }}</a>
          </div>
          <div class="edit_delete">
            {% if client.owner == user %}
              (<a href="{% url 'project_view:part_update' module.id part.id %}">Edit</a> |
              <a href="{% url 'project_view:part_delete' module.id part.id %}">Delete</a>)
            {% endif %}
          </div>
          <div id="my_cog{{ part.id }}">
            <a href="#"><i class="fa fa-cog" title="add to my parts" style="color: lightgray; font-size: 20px;" 
              onclick="document.getElementById('my_cog{{ part.id }}').hidden=true;
                        document.getElementById('my_cog_blue{{ part.id }}').hidden=false"></i></a>
          </div>
          <div id="my_cog_blue{{ part.id }}" hidden>
            <a href="#"><i class="fa fa-cog" title="remove from my parts" style="color: blue; font-size: 20px;" 
              onclick="document.getElementById('my_cog{{ part.id }}').hidden=false;
                        document.getElementById('my_cog_blue{{ part.id }}').hidden=true"></i></a>
          </div>
        </div>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no parts for this module.</p>
{% endif %}
</p>
<p>
<a href="{% url 'project_view:part_create' module.id %}">Add a Part</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'project_view:main' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'project_view:main' %}">Login</a>
{% endif %}
</p>
{% endblock %}