
{% extends "base_menu.html" %}

{% load humanize %}

{% block content %}

<span style="float: right;">
({{ part.updated_at|naturaltime }})
{% if part.owner == user %}
<a href="{% url 'project_view:part_update' module.id part.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'project_view:part_delete' module.id part.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ part.name }}</h1>

<p>
description: {{ part.description }}
</p>
<p>
OEM: {{ part.module.project.client }}
</p>
<p>
project: {{ part.module.project }}
</p>
<p>
module: {{ part.module }}
</p>
<p>
supplier: {{ part.supplier }}
</p>
<p>
thickness: {{ part.thickness }}mm
</p>
<p>
type of fixing elements: {{ fix }}
</p>

<p>
<a href="{% url 'project_view:module_detail' module.id project.id %}">All parts</a>
</p>

{% endblock %}

