
{% extends "base_menu.html" %}

{% load humanize %}

{% block head %}
<style>
.topic{
  height: 7em;
  width: 11em;
  padding: 5px;
  margin: 5px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}
</style>
{% endblock %}

{% block content %}

<span style="float: right;">
({{ part.updated_at|naturaltime }})
{% if part.owner == user %}
<a href="{% url 'project_view:part_update' module.id part.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'project_view:part_delete' module.id part.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ part.name }}</h1>

<p>
description: {{ part.description }}
</p>
<p>
OEM: {{ part.module.project.client }}
</p>
<p>
project: {{ part.module.project }}
</p>
<p>
module: {{ part.module }}
</p>
<p>
supplier: {{ part.supplier }}
</p>
<p>
thickness: {{ part.thickness }}mm
</p>
<p>
fixing combinations:
    {% if fixes %}
    <ul>
      {% for fix in fixes %}
        <li>
            {{ fix.number_of_elements }} {{ fix.fixing.name }}s
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no fixing combinations in the database.</p>
    {% endif %}
    <p>
      <a href="{% url 'project_view:fix_create' part.id %}">add new combination</a>
    </p>
    <p>
      <a href="{% url 'project_view:fixing_create' %}">create new fixing elements</a>
    </p>
</p>

<p>
<a href="{% url 'project_view:module_detail' module.id project.id %}">All parts</a>
</p>
<h2>Topics:</h2>

<p>
{% if topics %}
<ul>
  {% for topic in topics %}
    <div id="topic">
      <li>
          {{ topic.title }}
      </li>
    </div>
  {% endfor %}
</ul>
</p>
{% else %}
  <p>There are no topics in the database.</p>
{% endif %}


{% endblock %}

