{% extends "base_menu.html" %}
{% block content %}

<h2>All Participants:</h2>
<p>
{% if participant_list %}
  <ul>
    {% for participant in participant_list %}
      <li>
          {{ participant.name }} in {{participant.project}}
          
          {% if participant.owner == user %}
          (<a href="{% url 'project_view:participant_update' project.id participant.id %}">Edit</a> |
          <a href="{% url 'project_view:participant_delete' project.id participant.id %}">Delete</a>)
          {% endif %}
      </li>
    {% endfor %}
    
  </ul>
  {% if project.owner == user %}
    <a href="{% url 'project_view:participant_create' project.id %}">Add participant</a>
  {% endif %}
  {% else %}
    <p>There are no participants in this project.</p>
{% endif %}
</p>
{% endblock %}