{% extends "base_menu.html" %}
{% block content %}

<h1>Parts</h1>

<p>
{% if part_list %}
<ul>
  {% for part in part_list %}
    <li>
        <a href="{% url 'project_view:part_detail'  part.id %}">{{ part.name }}</a>
        
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no parts in the database.</p>
{% endif %}
</p>
<p>
 |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'project_view:main' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'project_view:main' %}">Login</a>
{% endif %}
</p>
{% endblock %}