{% extends "base_menu.html" %}
{% block content %}

<h2>All Participants:</h2>

<p>
    {% if project_collection %}
        <ul>
        
        {% for person, projects in project_collection.items %}
        <li>
            {{ person }}'s projects:
            {% for project in projects %}
                {{ project }}
            {% endfor %}
        </li>    
            
        {% endfor %}
        </ul>
        
    
    
    {% endif %}
</p>

<a href="{% url 'project_view:participation_create' %}">Add participation</a>
{% endblock %}