
{% extends "base_menu.html" %}

{% load humanize %}



{% block content %}

<span style="float: right;">
({{ part.updated_at|naturaltime }})
{% if part.owner == user %}
<a href="{% url 'project_view:topic_update' part.id topic.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'project_view:topic_delete' part.id topic.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ topic.title }}</h1>



<p>
<a href="{% url 'project_view:part_detail' module.id part.id %}">All topics</a>
</p>

{% endblock %}

