
{% extends "base_menu.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/topic_update.css' %}">

<span style="float: right;">
({{ topic.last_modified }})
{% if part.owner == user %}
<a href="{% url 'project_view:topic_update' part.id topic.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'project_view:topic_delete' part.id topic.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
{% if topic.status.id == 1 %}
        <i class="fa fa-cog" style="font-size:20px;color:red"></i>
        {% elif topic.status.id == 2 %}
          <i class="fa fa-cog fa-spin" style="font-size:20px"></i>
        {% else %}
        <i class='fas fa-check-circle' style='font-size:20px;color:green'></i>
        {% endif %}
        <h1>{{ topic.title }}</h1>

<p>
    pictures:
</p>

{% if picture_list %}

    {% for picture in picture_list %}
        {{ picture.id }}
        <a href="#"><img type="image" id=picture_box
            src="{% url 'project_view:picture_stream' topic.id picture.id %}" 
            onclick="document.getElementById('picture_detail{{ picture.id}}').style.display= 'block';"><!--picture detail appears-->
        </a>

        <div id='picture_detail{{ picture.id}}' class="picture_detail" onclick="document.getElementById('picture_detail{{ picture.id}}').style.display= 'none';"><a href="#">
            <img type="image"  src="{% url 'project_view:picture_stream' topic.id picture.id %}" 
            style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </a></div>

        {% if part.owner == user %}
                <a class="trash-text" href="{% url 'project_view:picture_delete' topic.id picture.id %}"><i class="fa fa-trash"></i></a>
        
    {% endif %}
{% endfor %}

{% else %}
<p>
    there are no pictures for this topic
</p>
{% endif %}

{% if entries_list %}

    {% for entry in entries_list %}
            <div id="entry_list_container">
                <div class="entry_list_left">
                    <div class="entry_list_date_of_entry">
                        {{ entry.date_of_entry }}
                    </div>
                    <div class="entry_list_solution">
                        {{ entry.solution }}
                    </div>
                </div>
                <div class="entry_list_middle">
                    <div class="entry_list_person">
                        {% for person in entry.responsible.all %}
                            <p>
                                {{ person }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="entry_list_person">
                        {% for person in entry.involved.all %}
                            <p>
                                {{ person }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="entry_list_person">
                        {% for person in entry.agreed_with.all %}
                            <p>
                                {{ person }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="entry_list_right">
                    <div class="entry_list_deadline">
                        {{ entry.deadline }}
                    </div>
                    <div class="entry_list_edit_delete_icons">
                        {% if topic.owner == user %}
                            <a href="{% url 'project_view:topic_entry_update' entry.topic.part.id entry.topic.id entry.id %}"><i class="fa fa-pencil"></i></a> 
                            <a href="{% url 'project_view:entry_delete' entry.id %}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        
    {% endfor %}


{% else %}
    <p>
        there are no entries for this topic
    </p>

{% endif %}


<p>
<a href="{% url 'project_view:part_detail' module.id part.id %}">All topics</a>
</p>

{% endblock %}

