{% extends "base_menu.html" %}

{% block head %}
<style>
#target {
    width:30%;
    height: 200px;
    padding: 5px;
    margin: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
}
</style>
{% endblock %}

{% block content %}

<img type="image" id=target value="paste picture here">



<p>
  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'project_view:main' %}';return false;">
  </form>
</p>

<script>
document.onpaste = function (pasteEvent) {
    var items = pasteEvent.clipboardData.items;
    console.log(items[0])
    typeCheck= /^image.*/;
    test = typeCheck.test(items[0].type);
    console.log(test);
    if (test === true) {
        console.log(items[0]);
        var blob = items[0].getAsFile();
        console.log(blob);
        var reader = new FileReader();
        reader.onload = function (loadEvent) {
            document.getElementById("target").src = loadEvent.target.result;
        }
        reader.readAsDataURL(blob);

        var myForm = document.getElementById("target");
        var formData = new FormData();
        var myUrl = "{% url 'project_view:picture_add' topic.id %}";


        formData.append("inpFile", blob);
        //function picturePost (url, pk_topi) {
        fetch(myUrl, {
            method: "post",
            body: formData
        }).then(function(data){
            console.log(data)
        }).catch(console.log(myUrl, 'error'));
    }
    //sendRequest = picturePost(myUrl, {{ topic.id }} )
    
    

    
};
</script>
{% endblock %}