

{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h2>Welcome to Stachu Smith's ProjectView app.</h2>
<h3>Please enter your username and password.</h3>


{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/login.css' %}">

<div class="login_area">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form |crispy }}

    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

<h5>If you don't have a username or password, please <b>contact me</b> and I will create a test user for you, so that you can fully appreciate the functionality of this app.</h5>
<form action="{% url 'project_view:get_in_touch' %}" method="post">
  <div class="upper_form">
    {% csrf_token %}
    {{ touch_form |crispy }}
  </div>
  <div class="lower_form">
    {% csrf_token %}
    {{ touch_form2 |crispy }}
  </div>
  
  <div class="button"><input type="submit" value="Send"></div>
</form>


{% endblock %}
