

{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Welcome to Stachu Smith's ProjectView app.</h1>
Please enter your username and password:

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'project_view/login.css' %}">

<div class="login_area">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form |crispy }}

    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

<p>
  For security reasons all pages of this app can only be accessed with a username and password.
</p>
<p>
  If you don't have a username or password, please <b>contact me</b> and I will create a <b>test user</b> for you, so that you can fully appreciate the functionality of this app.
</p>

{% if sent == 0 %}
  <form action="{% url 'project_view:get_in_touch' %}" method="post">
    <div class="upper_form">
      {% csrf_token %}
      {{ touch_form |crispy }}
    </div>
    <div class="lower_form">
      {% csrf_token %}
      {{ touch_form2 |crispy }}
    </div>
    
    <div class="button"><input type="submit" value="Send"></div>
  </form>
{% else %}
  thank you for your message, I will get back to you as soon as I can. Cheers!

{% endif %}

<h2>About the app:</h2>

<ul>
  <li>purpose of this app</li>
  <li>functionality</li>
  <li>cool features</li>
</ul>

<script>
  var myUrl = '{% url 'project_view:unsent' %}'

  window.onload = function unsentPost(){
    /*prepare data to be sent to server*/
    var formData = new FormData();
    formData.append("unsent", 0); //(name of data, data)
    /*prepare data to be sent to server*/

    /*send the data using fetch method:*/
    fetch(myUrl, {
        method: "post",
        body: formData,
    }).then(function(data){
        console.log(data)
    }).catch(console.log(myUrl, 'error'));
}
</script>

{% endblock %}
