

{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h2>Welcome to Stachu Smith's</h2><h1>ProjectView Web Application</h1>
<div class="upper">
  <div class="left">
    Please enter your username and password:
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'project_view/login.css' %}">
    <script type="text/javascript" src="{% static 'project_view/project_view.js' %}"></script>

    <div class="login_area">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form |crispy }}

        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
  <div class="right">
    <p>
      This app is intended for <b>engineering service providers</b> in the automotive industry, who are often dealing with sensitive data. Therefore, for security reasons, all pages of this app can only be accessed with a username and password.
    </p>
    <p>
      If you don't have a username or password, please <b>contact me</b> and I will provide you with a <b>test user</b>, so that you can fully appreciate the functionality of this app.
    </p>
  
    {% if sent == 0 %}
      <form action="{% url 'project_view:get_in_touch' %}" method="post">
        <div class="upper_form">
          {% csrf_token %}
          {{ touch_form |crispy }}
        </div>
        <div class="lower_form">
          {% csrf_token %}
          {{ touch_form2 |crispy }}
        </div>
        
        <div class="button"><input type="submit" value="Send"></div>
      </form>
    {% else %}
    <div class="thank_you">
      
      <h4><i class="far fa-paper-plane" style="font-size: 30px;"></i> Thank you for your message, I will get back to you as soon as I can. Cheers! <i class="far fa-paper-plane" style="font-size: 30px;"></i></h4>
    </div>
    {% endif %}
  </div>
</div>

<h2>About the app:</h2>

<div class="table_of_contents">
  <li class="cont"><a href="#purpose">purpose of this app</a></li>
  <li class="cont"><a href="#technical">technical details</a></li>
  <li class="cont"><a href="#functionality">functionality</a></li>
  <li class="cont"><a href="#features">cool features</a></li>
  <li class="cont"><a href="#gallery">gallery</a></li>
</div>

<h3 id="purpose">
  Purpose of this app:
</h3>

<div class="text">
  This app is intended for <b>project / team leaders</b> working for companies providing <b>development / engineering services</b>
  for the <b>automotive industry</b>. I myself come from this field and work as a project leader in such a company.
  As a project leader I was always missing a tool such as this app. I needed a kind of digital control panel,
  where I would have all the information from all projects in one place - including protocols from meetings, to-do lists, contacts etc. 
  Accessible from any place, at any time. I believe that with some adjustments, this app would also do fine in just about <b>any industry</b>, not 
  only in the automotive one.
</div>

<h3 id="technical">
  Technical details:
</h3>
<div class="text">
  I built this app using <b>Python</b> and the <b>Django</b> framework on the backend.
  I chose <b>SQLite</b> for the data base, but I'm thinking of switching to
  something more suited for multiple users. The front end is pure <b>HTML, CSS and JavaScript</b> plus a little bit of <b>Bootstrap & Crispy Forms</b>,.
   To create this app I used the following tools: <b>Visual Studio Code as IDE, GitHub for version control</b>.
    To set it up online I bought a <b>Raspberry Pi</b>, which I then set up as a <b>Linux</b> server using <b>Apache2</b>. 
    The domain has an SSL certificate, the firewall allows 443 traffic only. The Django deployment check list 
    has been completed. Recommended browsers: Firefox and Chrome

    <br><br>Even though this is a <b>full stack project</b>, I like to think of myself more as a backend kind of guy.
</div>

<h3 id="functionality">
  Functionality:
</h3>

<div class="text">
  The ProjectView app provides the following functionality:<br><br>
  <p>
    A folder like structure of <b>OEMs</b> (original elements manufacturers e.g. BMW, Tesla), <b>Projects, Modules, Parts, Topics</b>
  </p>
  <p>
    <b>A part area</b> where all the information about a part is held, including a section for types and
    amounts of fixing elements (many to many). There is also a list of topics, which can be viewed as a compressed view,
    or a protocol view (so that one can easily print out all topics including all entries and pictures as a pdf file or on paper)
  </p>
  <p>
    <b>A topic area</b> which is used during meetings. During a meeting the user can edit, or create a new topic,
    <b>set a chosen priority</b> for the topic, add information, pictures & entries. This way you can easily create
    <b>documentation on the fly</b> during a meeting. <b>Entries</b> consist of entry date, solution and deadline. 
    Entries are <b>coupled with project participants</b>. From the project participants pool, at least one participant must be chosen as
     'responsible', one as 'involved' and one as the one with whom the given entry was agreed with.
  </p>
  <p>
    <b>A project participant area</b>, where all information about all the project participants is held e.g. for whom the 
    participant works, his job title, contact details, list of projects this person is involved in.
  </p>
  <p>
    <b>A to-do area</b> for the project leader to maintain their tasks. This area includes a field where the responsible design
    engineer is set. As soon as a to-do item is created, or modified, the person responsible receives an <b>email notification</b>
    that a new task is ready (or an existing task has been modified). The responsible design engineer then clicks a
    link in the email to see the task, upon doing so the project leader is informed that the person has seen the task. To-do items 
    also have a statuses (currently <b>'priority'</b>, <b>'in process'</b> and <b>'settled'</b>), which can be <b>easily changed simply by clicking on the icon</b>.
  </p>
  <p>
    <b>myParts area</b> which is basically a favourites area, where the project leader keeps a list of the parts they are currently
    taking care of.
  </p>
  <p>
    Search box which will be introduced soon.
  </p>

  <h3 id="features">
    Cool features:
  </h3>
  
  <div class="text" id="cool_features">
    <li class="cool"><b>adding pictures simply by copy-paste</b> - very handy during a meeting. This feature is possible thanks to the
      <b>JavaScript fetch method</b>, which allows adding many pictures directly to the database without having to refresh
      the page. <b>CSRF prevention</b> is present. The same function also <b>resizes</b> the clipboard image to a decent size, not to save 
      unnecessarily large images in the database.
    </li>
    <li class="cool">
      switching between <b>compressed view</b> and <b>protocol view</b> without having to refresh the page (JavaScript)
    </li>
    <li class="cool">
      adding, removing myParts without having to refresh the page (JavaScript)
    </li>
    <li class="cool">
      adding/editing/removing entries whilst editing a topic without having to refresh the page
    </li>
    <li class="cool">
      <b>Email notification</b> sent to the person involved as soon as a new task is created or edited
    </li>
    <li>
      user can only modify / delete items he has created, this protects from accidentally modifying other users' data
    </li>
  </div>

</div>
<div class="gallery" id="gallery">
  <h3>Gallery:</h3>
  <div class="grid">
    <div class="gridbox">
      <div class="title">
        <h4>Project structure:</h4>
      </div>
      <div class="picture" id="picture_01">
        <a href="#"><img src="{% static 'project_view/myParts.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_01').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_01' class="picture_detail"
        onclick="document.getElementById('picture_detail_01').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/myParts.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>Part view:</h4>
      </div>
      <div class="picture" id="picture_02">
        <a href="#"><img src="{% static 'project_view/part_view_comp.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_02').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_02' class="picture_detail"
        onclick="document.getElementById('picture_detail_02').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/part_view_comp.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>Topic view:</h4>
      </div>
      <div class="picture" id="picture_03">
        <a href="#"><img src="{% static 'project_view/topic_detail_view.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_03').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_03' class="picture_detail"
        onclick="document.getElementById('picture_detail_03').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/topic_detail_view.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>Editing topic:</h4>
      </div>
      <div class="picture" id="picture_04">
        <a href="#"><img src="{% static 'project_view/edit_topic_.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_04').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_04' class="picture_detail"
        onclick="document.getElementById('picture_detail_04').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/edit_topic_.png' %}" 
          style="position: fixed; max-width: 100%; max-height: 900px; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>Participants' area:</h4>
      </div>
      <div class="picture" id="picture_05">
        <a href="#"><img src="{% static 'project_view/participants_area.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_05').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_05' class="picture_detail"
        onclick="document.getElementById('picture_detail_05').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/participants_area.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>Creating participant:</h4>
      </div>
      <div class="picture" id="picture_06">
        <a href="#"><img src="{% static 'project_view/participant_create.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_06').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_06' class="picture_detail"
        onclick="document.getElementById('picture_detail_06').style.display= 'none';
                  document.getElementById('gallery').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/participant_create.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
    <div class="gridbox">
      <div class="title">
        <h4>To-do's with email notification:</h4>
      </div>
      <div class="picture" id="picture_07">
        <a href="#"><img src="{% static 'project_view/todo_.png' %}" alt="view of project structure"
        onclick="document.getElementById('picture_detail_07').style.display= 'block';"></a><!--picture detail appears-->
        
        <div id='picture_detail_07' class="picture_detail"
        onclick="document.getElementById('picture_detail_07').style.display= 'none';
                  document.getElementById('picture_07').scrollIntoView();">
          <img type="image"  src="{% static 'project_view/todo_.png' %}" 
          style="position: fixed; max-width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%);"><!--picture detail disappears-->
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  var myUrl = '{% url 'project_view:unsent' %}'
  
  window.onload = function unsentPost(){

    const csrftoken = getCookie('csrftoken');
    const request = new Request (myUrl);
    /*send the data using fetch method:*/
    fetch(request, {
        method: "post",
        mode: 'same-origin',
        headers: {'X-CSRFToken': csrftoken}
    }).then(function(data){
        console.log(data)
    }).catch(console.log(myUrl, 'error'));
}
</script>

{% endblock %}
